<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lab 1</title>
</head>
<body ng-app ng-controller="TodoCtrl">
  <input type="text" ng-model="currentTodo" /><button ng-click="addTodo()">Add</button>
  <ul>
  	<li ng-repeat="todo in todos track by $index"><button ng-click="removeTodo($index)">x</button>{{todo}}</li>
  </ul>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
  <script src="./app.js"></script>
</body>
</html>